In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import our input datasets
test_df = pd.read_csv('average_scores_analysis_test3.csv')
scores_df=pd.read_csv('facility_ave_insp_score.csv')
ave_score_df=test_df.set_index('facilityId').join(scores_df.set_index('facilityId'))
ave_score_df=ave_score_df.reset_index()
ave_score_df

,facilityId,typeOfFacility,categoryOfFacility,averageInspectionScore
0,FA0003323,RESTAURANT 0 TO 100 SEATS,FULL MENU LIMITED SERVICE,14
1,FA0000616,RESTAURANT MORE THAN 200 SEATS,FULL SERVICE FULL MENU,48
2,FA0004494,RESTAURANT 0 TO 100 SEATS,FULL MENU LIMITED SERVICE,30
3,FA0003893,SPECIAL EVENT,SPECIAL EVENT,4
4,FA0003472,LIMITED FOOD SERVICE CONVENIENCE OTHER,FAST FOOD LIMITED MENU,15
...,...,...,...,...
1216,FA0005424,GROCERY STORE 0 TO 15000 SQ FT,GROCERY FINISHED FOODS,10
1217,FA0005494,RESTAURANT 0 TO 100 SEATS,FAST FOOD LIMITED MENU,15
1218,FA0005326,NO FEE LICENSE K12 SCHOOLS NON PROFIT,FOOD BANK,0
1219,FA0004973,RESTAURANT 0 TO 100 SEATS,FAST FOOD LIMITED MENU,15
1220,FA0005555,RESTAURANT 0 TO 100 SEATS,FAST FOOD LIMITED MENU,35

In [4]:
# Bin the average scores from 1-5 according to Boulder County Health Inspection site "5"= Excellent score 0-19, "4" = Good score 20-39, "3" = Fair score 40-69, "2" = Marginal score 70-99, "1" = Unacceptable score >100.
bins=[0, 20, 40, 70, 100, 1000]
health_scores = ["5", "4", "3", "2", "1"]
ave_score_df["healthScore"]=pd.cut(ave_score_df["averageInspectionScore"], bins,  include_lowest=True, labels=health_scores)
ave_score_df

,facilityId,typeOfFacility,categoryOfFacility,averageInspectionScore,healthScore
0,FA0003323,RESTAURANT 0 TO 100 SEATS,FULL MENU LIMITED SERVICE,14,5
1,FA0000616,RESTAURANT MORE THAN 200 SEATS,FULL SERVICE FULL MENU,48,3
2,FA0004494,RESTAURANT 0 TO 100 SEATS,FULL MENU LIMITED SERVICE,30,4
3,FA0003893,SPECIAL EVENT,SPECIAL EVENT,4,5
4,FA0003472,LIMITED FOOD SERVICE CONVENIENCE OTHER,FAST FOOD LIMITED MENU,15,5
...,...,...,...,...,...
1216,FA0005424,GROCERY STORE 0 TO 15000 SQ FT,GROCERY FINISHED FOODS,10,5
1217,FA0005494,RESTAURANT 0 TO 100 SEATS,FAST FOOD LIMITED MENU,15,5
1218,FA0005326,NO FEE LICENSE K12 SCHOOLS NON PROFIT,FOOD BANK,0,5
1219,FA0004973,RESTAURANT 0 TO 100 SEATS,FAST FOOD LIMITED MENU,15,5
1220,FA0005555,RESTAURANT 0 TO 100 SEATS,FAST FOOD LIMITED MENU,35,4

In [5]:
ave_score_df.to_csv('db_average_health_scores_bucketed.csv')