In [16]:
import pandas as pd
import numpy as np

In [17]:
# Import our input datasets
test_df = pd.read_csv('average_scores_analysis_test3.csv')
scores_df=pd.read_csv('facility_ave_insp_score.csv')
ave_score_df=scores_df.merge(test_df, on='facilityId', how='inner')
ave_score_df

,facilityId,ave_insp_score,typeOfFacility,categoryOfFacility
0,FA0000009,23,RESTAURANT 0 TO 100 SEATS,BARS FRATERNAL ORGANIZATIONS
1,FA0000010,15,RESTAURANT 0 TO 100 SEATS,FULL MENU LIMITED SERVICE
2,FA0000011,19,RESTAURANT 0 TO 100 SEATS,FAST FOOD LIMITED MENU
3,FA0000015,41,RESTAURANT 0 TO 100 SEATS,FULL SERVICE FULL MENU
4,FA0000017,20,RESTAURANT 0 TO 100 SEATS,FULL SERVICE FULL MENU
...,...,...,...,...
890,FA0005506,15,RESTAURANT 0 TO 100 SEATS,FULL MENU LIMITED SERVICE
891,FA0005508,0,LIMITED FOOD SERVICE CONVENIENCE OTHER,FAST FOOD LIMITED MENU
892,FA0005510,15,LIMITED FOOD SERVICE CONVENIENCE OTHER,FAST FOOD LIMITED MENU
893,FA0005539,0,RESTAURANT 0 TO 100 SEATS,FAST FOOD LIMITED MENU
894,FA0005554,0,RESTAURANT 0 TO 100 SEATS,FAST FOOD LIMITED MENU

In [19]:
# Bin the average scores from 1-5 according to Boulder County Health Inspection site "5"= Excellent score 0-19, "4" = Good score 20-39, "3" = Fair score 40-69, "2" = Marginal score 70-99, "1" = Unacceptable score >100.
bins=[0, 20, 40, 70, 100, 1000]
health_scores = ["5", "4", "3", "2", "1"]
ave_score_df["healthScore"]=pd.cut(ave_score_df["ave_insp_score"], bins,  include_lowest=True, labels=health_scores)
ave_score_df

,facilityId,ave_insp_score,typeOfFacility,categoryOfFacility,healthScore
0,FA0000009,23,RESTAURANT 0 TO 100 SEATS,BARS FRATERNAL ORGANIZATIONS,4
1,FA0000010,15,RESTAURANT 0 TO 100 SEATS,FULL MENU LIMITED SERVICE,5
2,FA0000011,19,RESTAURANT 0 TO 100 SEATS,FAST FOOD LIMITED MENU,5
3,FA0000015,41,RESTAURANT 0 TO 100 SEATS,FULL SERVICE FULL MENU,3
4,FA0000017,20,RESTAURANT 0 TO 100 SEATS,FULL SERVICE FULL MENU,5
...,...,...,...,...,...
890,FA0005506,15,RESTAURANT 0 TO 100 SEATS,FULL MENU LIMITED SERVICE,5
891,FA0005508,0,LIMITED FOOD SERVICE CONVENIENCE OTHER,FAST FOOD LIMITED MENU,5
892,FA0005510,15,LIMITED FOOD SERVICE CONVENIENCE OTHER,FAST FOOD LIMITED MENU,5
893,FA0005539,0,RESTAURANT 0 TO 100 SEATS,FAST FOOD LIMITED MENU,5
894,FA0005554,0,RESTAURANT 0 TO 100 SEATS,FAST FOOD LIMITED MENU,5

In [20]:
ave_score_df.to_csv('db_average_health_scores_bucketed.csv')